<div class="menu">
      <header>
        <div class="select">
          <img src="assets/images/icons.png" width="60px" height="60px">
          <div class="dropdown drop">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              Utilisateur <br>connecté
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Se connecter</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Calcul rapide</a></li>
              <li><a class="dropdown-item" href="#">Paramètres</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
            </ul>
          </div>
        </div>
      </header>
    
  </div>