<div class="menu">
      <header>
        <div class="select">
          <div>
            <img src="assets/images/icon.svg" width="50px" height="60px">
          </div>
          <div class="dropdown drop">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" class ="dropLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              Connected <br> user
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Connected user</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Calcul rapide</a></li>
              <li><a class="dropdown-item" href="#">Paramètres</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
            </ul>
          </div>
        </div>
      </header>
    
  </div>