<nav>
    <div class="bankinitLogo">
        <img src="assets/images/bankinit-icone.svg" alt="bankinit-icone" />
        <span class="bankinit">Bank Init</span>
    </div>
    <div class="bankinitOptions">
        <ul>
            <li>
                <a routerLink="#" (click)="onClick(0)">
                    Dashboard
                </a>
            </li>
            <li>
                <a routerLink="loan/list" (click)="onClick(1)">
                    Liste des prêts
                </a>
            </li>
            <li>
                <a routerLink="loan/create" (click)="onClick(2)">
                    Enregistrer un nouveau prêt
                </a>
            </li>
            <li>
                <a routerLink="#" (click)="onClick(3)">
                    Calendrier de remboursement
                </a>
            </li>
        </ul>
    </div>
</nav>