<nav>
    <div class="bankinitLogo">
        <img src="assets/images/bankinit-icone.svg" alt="bankinit-icone" />
        <span class="bankinit">Bank Init</span>
    </div>
    <div class="bankinitOptions">
        <ul>
            <li>
                <a routerLink="dashboard" (click)="onClick(0)" routerLinkActive="active">
                    Dashboard
                </a>
            </li>
            <li>
                <a routerLink="loan/list" (click)="onClick(1)" routerLinkActive="active">
                    Liste des prêts
                </a>
            </li>
            <li>
                <a routerLink="loan/create" (click)="onClick(2)" routerLinkActive="active">
                    Enregistrer un nouveau prêt
                </a>
            </li>
            <li>
                <a routerLink="calendar" (click)="onClick(3)" routerLinkActive="active">
                    Calendrier de remboursement
                </a>
            </li>
        </ul>
    </div>
</nav>