nav {
    background-color: rgb(106, 123, 103);
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    position: fixed;
    align-items: center;
    text-align: center;
    margin-left: 0;
    z-index: 99;
}

.bankinitLogo {
    margin: 70px 0 40px 0;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.bankinitLogo img {
    width: 50px;
}

.bankinitLogo span {
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
}

.bankinitOptions {
    display: flex;
    flex-direction: column;
}

.bankinitOptions ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.bankinitOptions a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 15px;
}

.bankinitOptions a:hover {
    display: block;
    color: rgb(106, 123, 103);
    background-color: #C8D0C6;
    border-radius: 15px;
    border: 1px solid rgb(106, 123, 103);
}

li {
    margin-bottom: 10px;
}

.active {
    display: block;
    color: rgb(106, 123, 103);
    background-color: #C8D0C6;
    border-radius: 15px;
    border: 1px solid rgb(106, 123, 103);
}