<nav>
    <div class="bankinitLogo">
        <img src="assets/images/bankinit-icone.svg" alt="bankinit-icone" />
        <span class="bankinit">Bank Init</span>
    </div>
    <div class="bankinitOptions">
        <ul>
            <li>
                <a routerLink="#">
                    Dashboard
                </a>
            </li>
            <li>
                <a routerLink="loan/list">
                    Liste des prêts
                </a>
            </li>
            <li>
                <a routerLink="loan/create">
                    Enregistrer un nouveau prêt
                </a>
            </li>
            <li>
                <a routerLink="#">
                    Calendrier de remboursement
                </a>
            </li>
        </ul>
    </div>
</nav>