.btn{
    position: relative;
    right: 0;
}

.row-title {
    padding-left: 10px;
    padding-top: 5px;
    // padding-bottom: 5px;
    background-color: rgba(228, 220, 220, 0.788);
}

.row-title h4 {
    font-size: 15px;
}

.row-enregistrer {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(228, 220, 220, 0.788);
}

.btn {
    
    background-color: rgba(209, 140, 10, 0.795);
    border-radius: 20px;
}

.space {
    margin: 20px;
}