
<div class="container">
    <div class="row-title">
        <h4 class="text-nowrap bd-highlight"> Formulaire de saisie d'un prêt</h4>
    </div>
    
    <form  [formGroup]="formulaire" (ngSubmit)="onSubmit(formulaire)" >
      <div class="row space">
        <div class="col-md-6">
          <input type="text" 
          class="form-select" 
          id="inputResponsable" 
          placeholder="Responsable" 
          formControlName = "responsable" 
          required 
          [ngClass]="{'is-invalid': formulaire.get('responsable')?.touched && !formulaire.get('responsable')?.valid}"
          >
          <div *ngIf="{'is-invalid': formulaire.get('responsable')?.touched && !formulaire.get('responsable')?.valid}" class="invalid-feedback">
            <div>
              Veuillez définir un responsable</div>
          </div>
        </div>
        <div class=" col-md-6">
          <input 
          type="text" 
          class="form-select" 
          id="inputClient" 
          placeholder="Client" 
          formControlName = "client" 
          required 
          [ngClass]="{'is-invalid': formulaire.get('client')?.touched && !formulaire.get('client')?.valid}"
          >
          <div *ngIf="{'is-invalid': formulaire.get('client')?.touched && !formulaire.get('client')?.valid}" class="invalid-feedback">
            <div>Veuillez définir un client</div>
          </div>
        </div>
      </div>

        <div class="row space">
          <div class="col-md-4">
            <input 
            type="number" 
            class="form-control" 
            id="inputMontant" 
            placeholder="Montant prêt" 
            formControlName = "montant" 
            required 
            [ngClass]="{'is-invalid': formulaire.get('montant')?.touched && !formulaire.get('montant')?.valid}"
            >
            <div *ngIf="{'is-invalid': formulaire.get('montant')?.touched && !formulaire.get('montant')?.valid}" class="invalid-feedback">
              <div>Le montant du prêt doit être un nombre positif</div>
            </div>
          </div>
          <div class=" col-md-4">
            <input 
            type="number" 
            class="form-control" 
            id="inputPourcentage" 
            placeholder="0 %" min="0" max="100" 
            formControlName = "pourcentage" 
            required 
            [ngClass]="{'is-invalid': formulaire.get('pourcentage')?.touched && !formulaire.get('pourcentage')?.valid}"
            >
            <div *ngIf="{'is-invalid': formulaire.get('pourcentage')?.touched && !formulaire.get('pourcentage')?.valid}" class="invalid-feedback">
              <div>Le pourcentage doit être un nombre positif</div>
            </div>
          </div>
          <div class="col-md-4">
            <input 
            type="number" 
            class="form-control" 
            id="inputFrequence" 
            placeholder="Frequence remboursement" 
            formControlName ="frequence" 
            required 
            [ngClass]="{'is-invalid': formulaire.get('frequence')?.touched && !formulaire.get('frequence')?.valid}"
            >
            <div *ngIf="{'is-invalid': formulaire.get('frequence')?.touched && !formulaire.get('frequence')?.valid}" class="invalid-feedback">
              <div>La fréquence du remboursement doit être un nombre positif</div>
            </div>
          </div>
        </div>
        
        <div class="row space" >
            <div class="col-md-6">
              <label for="inputDatePret">Date de prêt</label>
              <input 
              type="text" 
              class="form-control" 
              id="inputDate" 
              placeholder="dd/mm/yyyy" 
              formControlName = "date_pret"
              required 
              [ngClass]="{'is-invalid': formulaire.get('date_pret')?.touched && !formulaire.get('date_pret')?.valid}"
              >
              <div *ngIf="{'is-invalid': formulaire.get('date_pret')?.touched && !formulaire.get('date_pret')?.valid}" class="invalid-feedback">
                <div>Veuillez définir la date du prêt</div>
              </div>
              </div>
            <div class="col-md-6">
              <label for="inputDateRemboursement">Date de remboursement</label>
              <input 
              type="date" 
              class="form-control" 
              id="inputDate" 
              placeholder="dd/mm/yyyy" 
              formControlName = "date_remboursement"  
              required 
              [ngClass]="{'is-invalid': formulaire.get('date_remboursement')?.touched && !formulaire.get('date_remboursement')?.valid}"
              >
              <div *ngIf="{'is-invalid': formulaire.get('date_remboursement')?.touched && !formulaire.get('date_remboursement')?.valid}" class="invalid-feedback">
                <div >Veuillez définir la date de remboursement</div>
              </div>
            </div>
        </div>
        
        <div class="row space">
          <div class="col-md-6">
            <label for="inputRemboursement">Mode de remboursement</label>
            <select 
            id="inputRemboursement" 
            class="form-select" 
            formControlName = "mode_remboursement"
            required 
            [ngClass]="{'is-invalid': formulaire.get('mode_remboursement')?.touched && !formulaire.get('mode_remboursement')?.valid}"
             >
              <option selected value="Mensuel">Mensuel</option>
              <option value="Bimestre">Bimestre</option>
              <option value="Trimestre">Trimestre</option>
              <option value="Semestre">Semestre</option> 
            </select>
            <div *ngIf="{'is-invalid': formulaire.get('mode_remboursement')?.touched && !formulaire.get('mode_remboursement')?.valid}" class="invalid-feedback">
              <div >Veuillez définir le mode de remboursement</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="inputPaiement">Mode de paiement</label>
            <select  
            id="inputPaiement" 
            class="form-select" 
            formControlName = "mode_paiement"
            required 
            [ngClass]="{'is-invalid': formulaire.get('mode_paiement')?.touched && !formulaire.get('mode_paiement')?.valid}"
            >
              <option disable="disabled" class="selected">Mvola</option>
              <option value="AirtelMoney">AirtelMoney</option>
              <option value="Orangemoney">OrangeMoney</option>
              <option value="Enespèce">En espèces</option>
            </select> 
            <div *ngIf="{'is-invalid': formulaire.get('mode_paiement')?.touched && !formulaire.get('mode_paiement')?.valid}" class="invalid-feedback">
              <div>Veuillez définir le mode de paiement</div>
            </div>  
          </div>
        </div>

        <div class="row space">
            <div class="col-md-6">
                <label for="inputComment">Commentaires</label>
                <textarea 
                type="text" 
                class="form-control" 
                id="inputComment6" 
                placeholder="Commentaires" 
                formControlName = "comment" 
                required
                > </textarea>
                <div id="inputComment" class="form-text">
                    Ajouter des notes içi.
                  </div>
            </div>
        </div>
        
        <div class="foot d-flex justify-content-end">
          <button 
          type="submit" 
          class="btn bouton mr-6" 
          value="Enregistrer" 
          [disabled]="!formulaire.valid"
          >
          Enregistrer
        </button>
        </div>
      </form>
      </div>
