.tout {
    display: flex;
}

.head {
    z-index: 999;
}

.bread {
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.headline {
    border-radius: .5em;
    z-index: 2;
}

.contents {
    position: absolute;
    left: 20vw;
    top: 110px;
    width: 78vw;
    padding: 1em 1.5em;
    background-color: #fff;
    border-radius: .5em;
    z-index: 1;
    margin-top: 20px;
}
