

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Accueil</li>
      <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Enregistrement</li>
    </ol>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Accueil</li>
      </ol>
      <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Accueil</li>
        <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Liste des prêts</li>
      </ol>
      <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Accueil</li>
        <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Enregistrer un nouveau prêt</li>
      </ol>
      <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Accueil</li>
        <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Dashboard</li>
      </ol>

  </nav>
