<div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Accueil</li>
      <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Enregistrement</li>
      <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Liste des prêts</li>
      <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Enregistrer un nouveau prêt</li>
      <li class="breadcrumb-item" routerLinkActive="active" routerLink="">Dashboard</li>
    </ol>
</div>